<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platonic Friends Forever</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <header>
    <nav class="teal lighten-2" role="navigation">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo logo-link">PFF</a>
        <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down nav-links">
          {{#if logged_in}}
          <li><a href="/swipe">Find Friends!</a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="profile">Profile<i class="material-icons right">arrow_drop_down</i></a></li>
          <ul id="profile" class="dropdown-content">
            <li><a href="/profile">Dashboard</a></li>
            <li><a href="/matched">Your Friends<span class="new badge">4</span></a></li>
          </ul>
          <li><a class="logout" href="">Logout</a></li>
          {{else}}
          <li><a href="/signup" class="white-text">Sign Up</a></li>
          <li><a href="/login" class="white-text">Log In</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
    {{#if logged_in}}
    <ul class="sidenav" id="mobile-menu">
      <li><a class="mobile-nav-link" href="/swipe">Find Friends</a></li>
      <li><a class="mobile-nav-link" href="/profile">Profile</a></li>
      <li><a class="mobile-nav-link" href="/matched">Your Friends</a></li>
      <li><a class="mobile-nav-link logout" href="">Logout</a></li>
    </ul>
    {{else}}
    <ul class="sidenav" id="mobile-menu">
      <li><a class="mobile-nav-link" href="/signup">Sign Up</a></li>
      <li><a class="mobile-nav-link" href="/login">Log In</a></li>
    </ul>
    {{/if}}
  </header>


    
  <main >
    {{{body}}}
  </main>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="teal-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of students working on this project like it's our full time job. Thank you for supporting the continued development of this project. You are greatly appreciated!</p>
        </div>
        <div class="col l3 s12">
          <h5 class="teal-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/GrinninBarrett/platonic-friends-forever">Github</a></li>
            <li><a class="white-text" href="https://pfforever.herokuapp.com/">Heroku</a></li>
          </ul>
        </div>
          <div class="col l3 s12">
            <h5 class="teal-text">General</h5>
              <ul>
                <li><a class="white-text" href="/signup">Sign Up</a></li>
                <li><a class="white-text" href="/login">Log In</a></li>
              </ul>
          </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      &copy; <a class="teal-text text-lighten-3" href="https://github.com/GrinninBarrett/platonic-friends-forever">PFF 2021</a>
      </div>
    </div>
  </footer>
    
    {{!-- <script type="text/javascript" src="./js/materialize.min.js"></script>
    <script type="text/javascript" src="./js/materialize.js"></script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="./js/init.js"></script>
    <script src="./js/login.js"></script>
    <script src="./js/logout.js"></script>    
    <script src="./js/script.js"></script>
</body>

</html>