<div class="section no-pad-bot" id="index-banner">
  <div class="teal lighten-5 container">
    <br/>
    <br/>
    <h1 class="header center orange-text bold-text">Platonic Friends Forever</h1>
    <div class="row center">
      <h5 class="teal-text header col s12 light">Come here to find your new
        <h3 class="teal-text">P F F</h3></h5>
    </div>
    <div class="row center">
      <a
        href="/login"
        id="download-button"
        class="btn-large waves-effect waves-light orange"
      >Get Started</a>
      <br>
      <br>
    </div>
  </div>
</div>


<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="amber-icon icon-block">
          <h2 class="center brown-text"><i
              class="material-icons"
            >flash_on</i></h2>
          <h5 class="center light teal-text">What Is PFF?</h5>
          <p class="dark teal-text">Sometimes, all you want is a simple way to meet like-minded people in your
          area. With PFF, you get that. PFF is a geosocial networking application that
            allows users to interact based on matching shared interests. Just tell us a little bit about yourself, and we will introduce you to your next PFF.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="amber-icon icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center light teal-text">Is PFF For You?</h5>
          <p class="dark teal-text">Making friends in adulthood can be difficult. Whether you like to attend major-league baseball games or exercise outside, through PFF you will be able to find your Platonic
          Friends Forever.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="amber-icon icon-block">
          <h2 class="center brown-text">
            <i class="material-icons">settings</i>
          </h2>
          <h5 class="center light teal-text">How It All Works!</h5>
          <p class="dark teal-text">We use similar technologies as major dating
            and social networking companies in order to connect people. Our
            intention is to improve the way people connect with others for a
            platonic companionship, creating a new meaning to 'best friends forever'.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>