<div class="row-auth-wrapper">
    <div class="column-label-login" id="leftdiv">
        <div class="form-wrapper">
            <form class="col s12 signup-form">
                <h2>Create New Account</h2>
                <div class="column-label-login">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="name-signup" type="text" class="validate">
                            <label for="full-name">Full Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email-signup" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password-signup" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <a class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Submit</a>
                </div>
            </form>
        </div>
    </div>

    <div class="row-login-wrapper">
        <div class="column-label-login" id="rightdiv">
            <div class="form-wrapper">
                <form class="col s12 login-form">
                    <h2>Login</h2>
                    <div class="column-label-login">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="email-login" type="text" class="validate">
                            <label for="icon_prefix">Email</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">password</i>
                            <input id="password-login" type="password" class="validate">
                            <label for="icon_password">Password</label>
                        </div>
                    </div>
                    <a href="./profile.handlebars" class="waves-effect waves-light btn">
                    <i class="material-icons left">checkbox</i>Login</a>
                </form>
            </div>
        </div>
    </div>
</div>