<div class="">
    <div>
        <h4 class="center-align">Welcome Back</h4>
    </div>
    <div class="row-auth-wrapper">
        <div class="form-wrapper">
            <form id="login-form" class="form">
                <h5>Login</h5>
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="email-login" type="text" class="validate" placeholder="Email">
                    <label for="icon_prefix"></label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">password</i>
                    <input id="password-login" type="password" class="validate" placeholder="Password">
                    <label for="icon_password"></label>
                </div>
                <button id="login-button" class="waves-effect waves-light btn center-align submit-button" type="submit">
                <i class="material-icons left">checkbox</i>Login</button>
            </form>
        </div>
    </div>
    <div>
        <h6 class="center-align">New to PFF? <a class="join-link" href="/signup">Join now </a></h6>
        <br>
    </div>
</div>

    {{!-- <div class="row-login-wrapper">
        <div class="column-label-login" id="rightdiv">
            <div class="form-wrapper">
                <form id="login-form" class="col s12">
                    <h2>Login</h2>
                    <div class="column-label-login">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="email-login" type="text" class="validate" placeholder="Email">
                            <label for="icon_prefix"></label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">password</i>
                            <input id="password-login" type="password" class="validate" placeholder="Password">
                            <label for="icon_password"></label>
                        </div>
                    </div>
                    <a id="login-button" class="waves-effect waves-light btn">
                    <i class="material-icons left">checkbox</i>Login</a>
                </form>
            </div>
        </div>
    </div> --}}
{{!-- </div> --}}