<main>
    <nav>
        <nav class="teal lighten-1" role="navigation">
        <div class="nav-wrapper">
          <a href="" class="brand-logo">Profile</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="./chat-page.html">Chat</a></li>
            <li><a href="friends-page.html">Your Friends <span class="new badge">4</span></a></li>
            <li><a href="">Logout</a></li>
          </ul>
        </div>
      </nav>
    </nav>
    </main>
    <body>
        <img class="profile-picture" src="https://picsum.photos/id/1068/400/400">
      <div class="card">
        <div class="card-wraper">
        <div class="card-content">
          <p>{{bio}}</p>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width teal-text">
            <li class="tab"><a href="#test4">Test 1</a></li>
            <li class="tab"><a class="active" href="#test5">Test 2</a></li>
            <li class="tab"><a href="#test6">Test 3</a></li>
          </ul>
        </div>
        <div class="card-content brown lighten-4 teal-text">
          <div id="test4">Test 1</div>
          <div id="test5">Test 2</div>
          <div id="test6">Test 3</div>
        </div>
      </div>
      </div>
    </nav>    
    </body>