<div>
    <div class="row-auth-wrapper">
        <div class="form-wrapper">
            <form class="col s12 center-align">
                <h5>Create New Account</h5>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">person</i>
                        <input id="first_name" type="text" class="validate" placeholder="First Name">
                        <label for="first-name"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">person</i>
                        <input id="last_name" type="text" class="validate" placeholder="Last Name">
                        <label for="last-name"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="email-signup" type="email" class="validate" placeholder="Email">
                        <label for="email"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">password</i>
                        <input id="password-signup" type="password" class="validate" placeholder="Password">
                        <label for="password"></label>
                    </div>
                </div>
                    <a id="create-account-button" class="waves-effect waves-light btn">
                    <i class="material-icons left">checkbox</i>Submit</a>
            </form>
        </div>
    </div>
    <div>
        <h6 class="center-align">Already have an account? <a class="join-link" href="/login">Login</a></h6>
        <br>
    </div>
</div>