<div class="container">
  <div class="card swipe-content sticky-action">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator swipe-image" src="https://picsum.photos/id/1068/400/400">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{User Name}}<i class="material-icons right">more_vert</i></span>
        
        <p>
            <ul>
                <li><a class="teal-text right" href="#!"><h3>LIKE</h3></a></li>
                <li><a class="teal-text left" href="#!"><h3>DISLIKE</h3></a></li>
              </ul>
            </p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{User Name}}<i class="material-icons right">close</i></span>
      <p>{{bio}}</p>
    </div>
  </div>
</div>
  </body>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="brown-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of students working on this project like it's our full time job. Thank you for signing up to support the continued development of this project. You are greatly appreciated!</p>


        </div>
        <div class="col l3 s12">
          <h5 class="brown-text">Settings</h5>
          <ul>
            <li><a class="teal-text" href="#!">Link 1</a></li>
            <li><a class="teal-text" href="#!">Link 2</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="brown-text">Connect</h5>
          <ul>
            <li><a class="teal-text" href="#!">Github</a></li>
            <li><a class="teal-text" href="#!">Heroku</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>