body {
  justify-content: center;
}

h5 {
  margin-top: 0;
}

.nav-wrapper {
  padding: 0 25px;
}

.mobile-nav-link {
  margin-top: 10px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.material-icons {
  font-size: inherit;
}

.join-link {
  text-decoration: underline;
}

.card-content {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.friend-pic {
  height: 12rem;
  width: auto;
  margin: 0px 10px;
  margin-top: 20px;
  box-shadow: 6px 6px teal, -1em 0 0.4em orange;
  border-radius: 2px;
}

.swipe-card, .friend-card {
  margin-top: 2rem;
  border-radius: 10px;
}

.swipe-info, .friend-info {
  display: flex;
  flex-direction: column;
}

.card-buttons {
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0;
}

.swipe-button {
  width: 7rem;
}

.card-icon {
  position: absolute;
  right: 3rem;
}

.card-icon:hover {
  cursor: pointer;
}

.card-bio {
  margin-top: 4rem;
}

.friend-card-item {
  margin-top: 10px;
}

#friend-card-bio {
  margin-top: 10px;
}

#friend-info {
  border-radius: 10px;
}

.match-message {
  text-decoration: underline;
}

.footer-hidden {
  padding: 10px;
}

.column-label-login {
  margin: 20px;
  padding: 10px;
}

.row-auth-wrapper {
  margin: auto;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  min-width: 150px;
  max-width: 550px;
  min-height: 150px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
  padding: 20px 30px;
  width: 100%;
  border-radius: 10px;
}

.form {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-header {
  margin-top: 0;
}

.input-field {
  width: 100%;
}

.submit-button {
  width: 50%;
}

.column-label-login {
  justify-content: center;
}

.follow-toast {
  position: relative;
  bottom: 50px;
  width: 100%;
  text-align: center;
}